@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    background-color: black;
}
header {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: #D80032;
}

header > a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

header > a:hover {
    color: #F0F0F0;
}


footer {
    display: flex;
    background-color: black; 
    color: white;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
    padding-bottom: 10px;
}

footer> div {
    display: flex;
    gap: 10px;
}

#haName {
    font-style: italic;
}


/* Ticket */
.ticketArea {
    background-image: url(https://drupal.hahaha.com/sites/default/files/2023-08/jflTO_passes_section_bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    width: fit-content;
    margin:50px auto;
    text-align: center;
} 

.ticketName {
    background-color: black;
    color: white;
    margin: 0 auto;padding: 5px;
}

.ticketInfo{
    background-color: white;
    width: 300px;
    margin: 20px;
}

.ticketInfo > .amt {
    color:#D80032;
    font-size: 60px;
    margin:0px auto;
}
.ticketInfo > .amt > sup {
    color: black;
    font-size: 30px;
}

.btn_buy {
    display: block;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 20px;
}

.btn_buy:hover {
    background-color: #D80032;
}

.ticketContent {
    font-weight: bold;
    font-size: 18px;
}