@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    background-color: black;
}
header {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: #D80032;
}

header > a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

header > a:hover {
    color: #F0F0F0;
}


footer {
    display: flex;
    background-color: black; 
    color: white;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
    padding-bottom: 10px;
}

footer> div {
    display: flex;
    gap: 10px;
}

#haName {
    font-style: italic;
}