body {margin: 0;
    padding: 0;
    height: 100%;
}
header {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #D80032;
    height: 5vh;
}

header > a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

header > a:hover {
    color: #F0F0F0;
}

/* main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 85vh;
} */
footer {
    display: flex;
    background-color: black; 
    color: white;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
    margin-bottom: -100px;
    height: 10vh;
}

footer> div {
    display: flex;
    gap: 10px;
}