main {
    background-image: url("../img/artist-background-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: #F9DEC9;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

main > div {
    margin-left: 20%;
}

#ticketSection {
    background-color: #FC87A2;
    padding-bottom: 30px;
    text-align: center;
}

#ticketSection h1 {
    font-size: 100px;
}

#ticketSection h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

#ticketSection>section>p {
    font-size: 25px;
    font-style: italic;    
    max-width: 80vw;
    margin: auto;
}

#allShow {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 20px auto;
    width: 20%;
    display: block;
    text-decoration: none;
}
#allShow:hover {
    background-color: white;
    border: black 1px solid;
    color: black;
}


.learnMore {
    background-color: #D80032;
    color: black;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    width: 20%;
}

.learnMore:hover{
    background-color: white;
    border: #D80032 1px solid;
    color: #D80032;
}

