
#ticket-form-container {
    display: flex;
    flex-direction: column; 
    width: 15%;
    margin: 0 auto;
    height: 85vh;
}

#ticket-title {
    text-align: center; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form > input {
    padding-left: 10px;
    height: 30px;
}
form > select {
    padding-left: 10px;
    height: 35px;
}

#order-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 10px 5px 0 0;
    text-decoration: none; 
    font-size: 16px; 
}

button:hover {
    background-color: #437A35;
}
