body {
    margin: 0;
    text-align: center;
}

body > div {
    background-color: white;
    padding-bottom: 30px;
}

#allShow {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 20px auto;
    width: 20%;
    display: block;
    text-decoration: none;
}
#allShow:hover {
    background-color: white;
    border: black 1px solid;
    color: black;
}

h1 {
    font-size: 100px;
}

main > p {
    font-size: 25px;
    font-style: italic;
    max-width: 90vw;
    margin: 0 auto;
}
section > p {
    font-size: 25px;
    font-style: italic;    
    max-width: 90vw;
    margin: 0 auto 10 auto;
}

h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

section > div {
    background-image: url(https://drupal.hahaha.com/sites/default/files/2023-08/jflTO_passes_section_bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    width: fit-content;
    margin: 0 auto;
} 

section >div > div{
    background-color: white;
    width: 300px;
    margin: 20px;
}
.ticketName {
    background-color: black;
    color: white;
    margin: 0 auto;padding: 5px;
}

.learnMore {
    background-color: #D80032;
    color: black;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    width: 20%;
}

.learnMore:hover{
    background-color: white;
    border: #D80032 1px solid;
    color: #D80032;
}

.btn_buy {
    display: block;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 20px;
}

.btn_buy:hover {
    background-color: #D80032;
}

.ticketContent {
    font-weight: bold;
    font-size: 18px;
}



.ticketInfo > .amt {
    color:#D80032;
    font-size: 60px;
    margin:0px auto;
}
.ticketInfo > .amt > sup {
    color: black;
    font-size: 30px;
}

div {
    flex: 1;
}