<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts Page</title>

    <link rel="stylesheet" href="../assets/style/common.css">
    <link rel="stylesheet" href="../assets//style/contact.css">

    <script src="../assets/js/common.js" defer="true"></script>
</head>

<body>
    <header></header>

    <main>
        <div>
            <h1>Contact Us</h1>
        </div>
        <div id="contact-info-container">
            <img src="../assets/img/location-image.jpeg" alt="location-image">
            <div>
                <h2>Office Location</h2>
                <p>2101 Boulevard Saint-Laurent</p>
                <p>Montréal, Québec</p>
                <p>Canada H2X 2T5</p>
                <h2>Email</h2>
                <p>info@hahaha.com</p>
            </div>
        </div>
    </main>

    <footer></footer>
</body>

</html>