<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purchase Ticket</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/style/common.css" />
    <script
      src="https://kit.fontawesome.com/1ed057f542.js"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/js/common.js" defer="true"></script>
    <link rel="stylesheet" href="../assets/style/ticket.css" />
    <script src="../assets/js/ticket.js" defer="true"></script>
  </head>
  <body onload="allTickets()">
    <header></header>
    <div>
      <main>
        <img
          src="https://drupal.hahaha.com/sites/default/files/2023-06/JFLTO-23-0080-Pass-Page-Headliner_1200x600_2.png"
          alt="JFL Toronto headliners"
        />
        <a href="#" id="allShow">SEE ALL SHOWS</a>
        <h1>CHOOSE YOUR PASS!</h1>
        <p>
          Imagine having UNLIMITED access to as many shows and acts as you want
          across 10 days? We certainly can! Just For Laughs Toronto offers
          passes to not only see our stellar headliners, but to also have
          credits to access a plethora of other events and acts. As a pass
          purchaser, you unlock Super-Comedy-Fan status and get credits to see
          shows. The best part? Every time you use a credit for a show, you get
          another – FREE!
        </p>
        <p>
          1 credit = 1 guaranteed reservation to see any of The 42 non-headliner
          shows. Get your credit back each time you check into a show and use it
          to reserve to another one!
        </p>
        <h2>HOW IT WORKS?</h2>
        <a href="#" class="learnMore">LEARN MORE</a>
      </main>
      <section>
        <h2>THE HEADLINER PASSES</h2>
        <p>
          We’ve made it super easy for you to get the best seats in the house,
          at the best price. It’s quite simple, the more premium the headliner
          pass, the better seats you get.
        </p>
        <p>
          Wanna see more than one headliner? Add an additional headliner ticket
          at a discounted rate AFTER purchasing your pass. This discount does
          not apply to Scotiabank arena shows, swarry!
        </p>
        <div id="headLinerTicket"></div>
      </section>
      <section>
        <h2>THE CLASSIC PASS</h2>
        <p>
          You only want to check out the 42 acts? That’s cool, we get it. You
          can always add a headliner ticket later ;)
        </p>
        <div id="classicPasses"></div>
      </section>
      <section>
        <h2>INDIVIDUAL TICKETS</h2>
        <p>
          Don't have time to explore the festival? We have individual tickets
          too! Individual tickets will go on sale FRIDAY, JUNE 16th
        </p>
        <div id="individualTickets"></div>
      </section>
      <section id="FAQ">
        <h2>FAQ</h2>
        <a href="#" class="learnMore">LEARN MORE</a>
      </section>
    </div>
    <footer></footer>
  </body>
</html>
